<div class="relative inline-block group mx-5 justify-center">
  <div class="cursor-pointer font-semibold text-sm">Movies</div>

  <ul
    class="menu menu-vertical absolute left-0 mt-0 bg-base-200 rounded-box shadow-lg hidden group-hover:block"
  >
    <li><a>Populer</a></li>
    <li><a>Now Playing</a></li>
    <li><a>Upcoming </a></li>
    <li><a>Top Rated</a></li>
  </ul>
</div>
<div class="relative inline-block group mx-5 justify-center">
  <div class="cursor-pointer font-semibold text-sm">TV Shows</div>

  <ul
    class="menu menu-vertical absolute left-0 mt-0 bg-base-200 rounded-box shadow-lg hidden group-hover:block"
  >
    <li><a>Populer</a></li>
    <li><a>Airing Today</a></li>
    <li><a>On TV</a></li>
    <li><a>Top Rated</a></li>
  </ul>
</div>
