<div class="relative inline-block group mx-5 justify-center">
  <div class="cursor-pointer font-semibold text-sm">{{ languageService.t('movies') }}</div>

  <ul
    class="menu menu-vertical absolute left-0 mt-0 bg-base-200 rounded-box shadow-lg hidden group-hover:block"
  >
   <li><a>{{ languageService.t('popular') }}</a></li>
    <li><a>{{ languageService.t('nowPlaying') }}</a></li>
    <li><a>{{ languageService.t('upcoming') }}</a></li>
    <li><a>{{ languageService.t('topRated') }}</a></li>
  </ul>
</div>
<div class="relative inline-block group mx-5 justify-center">
  <div class="cursor-pointer font-semibold text-sm">{{ languageService.t('tvShows') }}</div>

  <ul
    class="menu menu-vertical absolute left-0 mt-0 bg-base-200 rounded-box shadow-lg hidden group-hover:block"
  >
    <li><a>{{ languageService.t('popular') }}</a></li>
    <li><a>{{ languageService.t('airingToday') }}</a></li>
    <li><a>{{ languageService.t('onTv') }}</a></li>
    <li><a>{{ languageService.t('topRated') }}</a></li>
  </ul>
</div>
