<div class="navbar shadow-sm bg-primary">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">Movie App</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li>
        <a><i class="fa-solid fa-heart"></i></a>
      </li>
      <li>
        <details>
          <summary>Lang</summary>
          <ul class="bg-base-100 rounded-t-none p-2">
            <li><a>En</a></li>
            <li><a>Ar</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>
